@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    outline:  none !important;
    scroll-behavior: smooth;
}

html,body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header{
    position: relative;
    z-index: 1000000;
}

p{
    font-size: 1.15rem;
}

.navbar{
    background: transparent !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgba(255, 255, 255, .8);
}

.navbar-light .navbar-nav .nav-link{
    color : rgba(255, 255, 255, .8)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    transition: 0.5s;
    color: #000;
    background:white;
}


.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(silu.jpg);
    background-size: cover;
    margin-bottom: 0;

}

.banner::before,.sec2::before,.contact::before,.sec3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000,  transparent);

}
.banner::after,.sec2::after,.contact::after,.sec3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg,#000,  transparent);

}

.height100p{
    height: 100vh;
}
.h100{
    height: 100%;
}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contentBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

}
.road{
    background-color: red;
    color: #000;
    border-radius: 3%;
}

.contentBox h1{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
}
.contentBox p{
    color: #fff;
    font-size: 1.3rem;
}

.sec1{
    padding: 100px 0;
    background: #000;
}

.headerText{
    color: #fff;
}

.headerText h2{
    font-size: 2.5rem;
    margin-bottom: 20px;

}

.placeBox{
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    margin-top: 30px;

}
.content h3{
    text-align: center;
}

.sec2{
    position: relative;
    background: #3a4148;
    background-size: cover;
    height: 100vh;
}
.sec2 h1{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.btnD1{
    border: 2px solid #fff;
    color:#000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline:none;
    font-weight: 500;
    margin-top: 20px;
}
.contact{
    position: relative;
    padding: 100px 0;
    background-image: url(contact.jpg);
    background-size: cover;
    min-height: 100vh;
    
}

.contact form{
    position: relative;
    z-index: 1000;
}

.contact .form-control{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    border-radius: 0;
    background: rgba(0, 0,0, .6);
    font-size: 1.25rem;
    color: #fff;
    z-index: -20;
}
.contact .form-control:focus,
.contact .form-control:hover{
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    box-shadow: none;

}
.contact .textarea{
    min-height: 100px;
}
.contact label{
    color: #fff;
    font-size: 1.25rem;

}

footer{
    background: #000;
    padding: 50px 0 0;
}
.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin: 0 20px;
}
.sci li a{
    color: #7cbdcc;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover{
    color:white;
}


.cpryt{
    text-align: center;
    color: #777;
    margin-top: 20px;
    
}

.sec3{
    position: relative;
    background: #3a4148;
    background-size: cover;
    height: 100vh;
}
.sec3 h1{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
       }
}

@media (max-width: 992px){
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner{
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox h1,.sec2 h2{
        font-size: 2rem;
    }
    
    .sec2{
        padding-block-start: 140px;
    }
    .sec3{
        height: 185%;
    }
    .contentBox p{
        font-size: 1em;
    }
    .collapse{
        background: black;
    }
    .sec3 h1{
        font-size: 4rem;
    }


    
}
@media (max-width: 991.98px){
    .sec3 h1{
        font-size: 3.5em;
    }
    .navbar-brand{
        margin-right: 0rem;
    }
    .navbar-toggler{
        font-size: 1rem;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 95%;
    padding-right: 15px;
    padding-left: 38px;
}











